.main-cards .card{
    background: rgba(0,0,0, 1);
    border-radius: 0%;
    border: none;
    margin-bottom: 20px;
}
.main-cards .card-title{
    color: #fff;
    margin-top: 23px;
    font-size: 27px;
    text-align: center;
}
.service-container{
    padding: 40px 20px;
}
.Service-heading{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Service-heading h2{
    font-size: 3rem;
    color: black;
    font-weight: 600;
}
.Service-heading h2 hr{
    width: 180px;
    height: 4px;
    border: none;
    outline: none;
    background-color: #2b7a78;
    border-radius: 2px;
    margin: 10px auto;
    opacity: 1;
}
.service-title-container-back{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 0 0 20px;
}
.Back-btn-icon{
    color: #fff;
    font-size: 2.8rem;
    background-color: #1a2940;
    border-radius: 50%;
    padding: 10px;
}
.cardicons{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    
}


@media screen and (max-width:549px){
    .Service-heading{
        padding: 10px 0;
    }
    .Service-heading h2{
        font-size: 2rem;
    }
}